.wrapper {
  &[data-theme='dark'] {
    color: var(--app-white);
  }

  &[data-theme='light'] {
    color: var(--app-black);
  }
}

.color {
  align-items: center;
  display: flex;
  margin-inline-end: var(--spacing-16);
}

.color-preview {
  block-size: var(--spacing-36);
  border: 1px solid var(--df-secondary);
  border-radius: var(--spacing-4);
  display: block;
  inline-size: var(--spacing-36);
  margin-inline-end: var(--spacing-16);
}

.fail {
  background-color: var(--error-500);
}

.good {
  background-color: var(--success-500);
}

.title {
  margin-block-end: var(--spacing-8);
}

.list {
  display: flex;
  margin-block-end: var(--spacing-16);
}

.tag {
  border-radius: var(--spacing-4);
  color: var(--db-primary);
  margin-inline-end: var(--spacing-16);
  padding: var(--spacing-4) var(--spacing-8);
  text-transform: uppercase;
}

.contrast-preview {
  align-items: center;
  border: 1px solid var(--df-secondary);
  border-radius: var(--spacing-4);
  box-sizing: content-box;
  block-size: calc(2 * var(--spacing-40));
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: calc(100% - var(--spacing-16));
  margin-block-end: var(--spacing-16);
  padding-block: var(--spacing-24);
}

.empty-preview {
  position: absolute;
}

.text {
  color: transparent;
  margin-block-end: var(--spacing-8);

  &.small {
    font-size: 18px;
  }

  &.large {
    font-size: 24px;
  }
}

.icons-list {
  display: flex;
  gap: var(--spacing-8);
  margin-block-start: var(--spacing-8);
}

.shape {
  block-size: var(--spacing-24);
  inline-size: var(--spacing-24);
}

.circle {
  border-radius: 50%;
}

.triangle {
  border-left: var(--spacing-12) solid transparent;
  border-right: var(--spacing-12) solid transparent;
  border-bottom: var(--spacing-24) solid transparent;
}
