name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-javascript:
    name: JavaScript Tests & Linters
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare
        with:
          fetch-depth: 0

      - name: Fetch base branch
        if: github.event_name == 'pull_request'
        run: |
          git fetch origin main:main

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Format Check
        id: npm-format-check
        run: npm run format:check

      - name: Test
        id: npm-test
        run: npm run test

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare

      - name: Build runtime
        run: npm run build

      - name: Build plugins
        run: npm run build:plugins

      - name: Build styles
        run: npm run build:styles-example
